<%-include('include/_header')%>
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-arrow-left"></i>>All Students</a>
            </div>
        </div>
        
        <div class="form-title text-center">
            <h2 class=""text-dark">Existing Student</h2>
            <span class="text-light">Fill the form to update the student details</span>
        </div>

        <form method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="usn" class="text-light">USN NO</label>
                    <input type="hidden" name="id" value="<%=user._id%>">
                    <input type="text" name="usn" value="<%=user.usn%>" placeholder="1XX20XXXXX">
                </div>
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="<%=user._id%>">
                    <input type="text" name="name" value="<%=user.name%>" placeholder="full name">
                </div>
                <div class="form-group">
                    <label for="email" class="text-light">Email id</label>
                    <input type="hidden" name="id" value="<%=user._id%>">
                    <input type="text" name="email" value="<%=user.email%>" placeholder="abc.xyz@xmail.com">
                </div>
                <div class="form-group">
                    <label for="gender" class="text-light">Gender</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-2" name="gender" value="Male"  <%= user.gender == 'Male' ? 'checked' : '' %>>
                        <label for="radio-2" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-3" name="gender" value="Female" <%= user.gender == 'Female' ? 'checked' : '' %>>
                        <label for="radio-3" class="radio-label">Female</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-4" name="gender" value="Rather not say">
                        <label for="radio-4" class="radio-label">Rather not say</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob" class="text-light">Date of Birth</label>
                    <input type="hidden" name="id" value="<%=user._id%>">
                    <input type="text" name="dob" value="<%=user.dob%>" placeholder="DDMMYYYY">
                </div>
                <div class="form-group">
                    <label for="gender" class="text-light">Status</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-5" name="status" value="Active">
                        <label for="radio-5" class="radio-label">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-6" name="status" value="Inactive">
                        <label for="radio-6" class="radio-label">Inactive</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
        
            </div>
        </form>
    </div>
</main>


<%-include('include/_footer')%>